// Colors of my website
$text: hsl(230, 30%, 92%);
$background: hsl(227, 43%, 4%);
$primary: hsl(228, 58%, 70%);
$secondary: hsl(228, 72%, 35%);
$accent: hsl(228, 85%, 52%);

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Oxygen", sans-serif',
  $family-monospace: '"JetBrains Mono", sans-serif',
  $family-secondary: '"Merriweather", serif',
  $family-sans-serif: '"Exo 2", sans-serif',
  $primary: $background,
  $background: $background,
  $success: $primary,
  $text: $text,
  $info: $secondary,
  $link: $accent,
  $card-radius: 1.25rem
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Maven+Pro:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
