---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Infinite Semantic Duration";
const allPosts = await Astro.glob("../pages/posts/*.{md,mdx}");
---

<BaseLayout pageTitle={pageTitle}>
  <Greeting
    client:load
    messages={[
      "Where is your crown, King Nothing?",
      "I'm your life, and I no longer care.",
      "I rule the midnight air, the destroyer!",
      "MASTER! MASTER!",
      "Exit light, enter night.",
      "Life it seems, will fade away. Drifting further every day.",
      "Forever trusting who we are, and nothing else matters.",
      "All that is, ever, ever was, will be ever twisting, turning through the never.",
      "You can take your fucking time",
      "And though this is tragic, at least I found the end",
      "Justice is served!",
      "Of course we look back because we cannot bear to look forward",
    ]}
  />
  <hr />
  <p class="is-size-4 has-text-justified">
    Welcome to Infinite Semantic Duration. Here, you will find the small corner
    of the internet owned by me (or Netlify, but whatever). Here I will post
    random stuff, about coding, geophysics, and etc. Click on Blog to see the
    posts, or click down bellow
  </p>
  <ul>
    {
      [...allPosts]
        .reverse()
        .map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.pubDate}
          />
        ))
    }
  </ul>
</BaseLayout>
