---
const { title, url, date } = Astro.props;
const formattedDate = new Date(date).toLocaleString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
  hour12: true,
});
---

<li ><a href={url}>{title} - {formattedDate}</a></li>
