---
let { links = [] } = Astro.props;
---

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    {
      links.map((link, index) => (
        <li>
          <a href={link.url}>{link.text}</a>
        </li>
      ))
    }
  </ul>
</nav>
