---
import Social from "./Social.astro";
---

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Infinite Semantic Duration</strong> by <a
        href="https://github.com/albano-a">Albano A</a
      >. Connect with me on:
    </p>
    <div class="buttons are-medium is-justify-content-center">
      <Social platform="github" username="albano-a" />
      <Social platform="linkedin" username="andre-albano" />
    </div>
  </div>
</footer>
